---
layout: post
title:  "Learning About Categories!"
date:   2017-12-03
categories: jekyll categories
---

p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias in, ad blanditiis sit, maiores, voluptates ea fugiat nulla laboriosam minus error qui aut illum minima.

p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolores ducimus perferendis, nemo suscipit eveniet itaque non, mollitia quisquam unde eius, iusto incidunt magnam eligendi necessitatibus voluptatibus deleniti qui! Minus inventore minima, dicta quos rerum, magnam iusto atque soluta totam libero, repellendus et fugit autem.

img(src="/assets/screenshot.png" alt="Screenshot")