---
layout: page
title: About
permalink: /about/
---

p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum magnam voluptate ratione reiciendis, eum in repellendus iure vel odio, deleniti expedita, harum maxime. Ipsum reprehenderit, quisquam nobis, reiciendis natus dolorum!

a.link(href="#") Read More

img(src="/assets/screenshot.png" alt="Chalkboard")